@font-face {
	font-family: 'MyWebFont';
	src: url(type/Molot.otf);
}

body {
	background: #CF4FA6;
	text-align: center;
}

h1 {
	font-family: 'MyWebFont', Arial, sans-serif;
	letter-spacing: 6px;
	color: #ffffff;
	text-shadow: 0px 8px 0px #983B7B;
	font-size: 70px;
	/*background: #E2DDE0;*/
	padding: 60px 0 40px 0;
}

p.score {
	position: absolute;
	top: 0;
}


div.shape  {
	width: 300px;
	height: 300px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	transition: all 0.4s ease-in-out;
}

.square {
	background: #DAF2C6;
}

.circle {
	background: #DAF2C6;
	border-radius: 50%;
}

.triangle {
	background: #DAF2C6;
	position: relative;
}

.shape:before {
	position: absolute;
	left: 0;
	bottom: 0;
	content: '';
	display: block;
	width: 424px;
	height: 424px;
	background: #CF4FA6;
	transform: rotate(-90deg);
	transform-origin: bottom left;
	transition: transform 0.4s linear;
}

.shape:after {
	position: absolute;
	right: 0;
	bottom: 0;
	content: '';
	display: block;
	width: 424px;
	height: 424px;
	background: #CF4FA6;
	transform: rotate(90deg);
	transform-origin: bottom right;
	transition: transform 0.4s linear;
}

.triangle:after {
	transform: rotate(60deg);
}

.triangle:before {
	transform: rotate(-60deg);
}


h2 {
	font-family: 'MyWebFont', Arial, sans-serif;
	color: #ffffff;
	position: absolute;
	font-size: 40px;
	letter-spacing: 2px;
	text-shadow: 0px 4px 0px #983B7B;
	left: 50%;
	bottom: 15%;
	transform: translateX(-50%);
}

p {
	font-family: 'MyWebFont', Arial, sans-serif;
	color: #ffffff;
	position: absolute;
	font-size: 30px;
	letter-spacing: 2px;
	text-shadow: 0px 4px 0px #983B7B;
	left: 50%;
	bottom: 10%;
	transform: translateX(-50%);
}